<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title></title>
</head>
<body>
    <div id="activity-log">
        <h3>Activity Log</h3>
        <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Bar</th>
                    <th>Field</th>
                    <th>Old Value</th>
                    <th>New Value</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in activity_log %}
                    <tr>
                        <td>{{ entry.user.username }}</td>
                        <td>{{ entry.bar.name }}</td>
                        <td>{{ entry.field }}</td>
                        <td>{{ entry.old_value }}</td>
                        <td>{{ entry.new_value }}</td>
                        <td>{{ entry.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>

</html>