<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Admin</title>
</head>
<body>

    <div class="cube-container">
        <div class="cube user-cube">
            <form method="POST" class="form-section">
                {{ form.hidden_tag() }}
                {{ form.username.label }} {{ form.username() }} <br><br>
                {{ form.password.label }} {{ form.password() }} <br><br>
                {{ form.submit() }}
            </form>
            <div class="list-section">
                <h2>Users</h2>
                <ul>
                    {% for user in users %}
                    <li>
                        <a href="{{ url_for('user_dashboard', user_id=user.id) }}">{{ user.username }}</a>
                        <form method="POST" action="{{ url_for('delete_user', id=user.id) }}">
                            <input type="submit" value="Remove User">
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        

        <div class="cube location-cube">
            <form method="POST" class="form-section">
                {{ location_form.hidden_tag() }}
                <p>
                    {{ location_form.name.label }}<br>
                    {{ location_form.name(size=20) }}
                </p>
                <p>{{ location_form.submit() }}</p>
            </form>
            <div class="list-section">
                <h2>Locations</h2>
                <ul>
                    {% for location in locations %}
                    <li>
                        <a href="{{ url_for('location', location_id=location.id) }}">{{ location.name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</body>
</html>
