<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <title>Admin</title>
    <style>
      /* Your existing styles */
      .location-card {
        position: relative;
        padding: 10px;
        border: 1px solid #ccc;
        margin: 10px 0;
      }
      .delete-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        border: none;
        color: red;
        font-size: 20px;
        cursor: pointer;
      }
      form {
        background-color: transparent;
      }
      /* Additional styles for notifications */
      .filter-container {
        margin-bottom: 10px;
      }
      .filter-container select {
        margin-right: 10px;
      }
      #notificationsSection ul {
        list-style-type: none;
        padding: 0;
      }
      #notificationsSection ul li {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
      }
    </style>
    <style>
      .notification-badge {
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 12px;
        position: absolute;
        top: 5px;
        right: 5px;
        display: none; /* Hide by default */
      }
    </style>

    <style>
      .remove-button {
        background-color: red;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        margin-left: 10px;
      }

      form {
        display: inline;
        padding: 0;
      }
    </style>

    <style>
      @keyframes fadeToRed {
        from {
          background-color: white;
        }
        to {
          background-color: red;
        }
      }

      .notification-item {
        animation: fadeToRed 2h linear forwards;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 15px;
        margin: 10px 0;
        position: relative;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          "Helvetica Neue", Arial, sans-serif;
        border: 1px solid #ccc;
        color: black; /* Ensuring text is black */
      }

      .notification-item .notification-delete-button {
        position: absolute;
        bottom: 10px; /* Position at bottom */
        right: 10px; /* Position at right */
        background: transparent;
        border: none;
        color: red;
        font-size: 20px;
        cursor: pointer;
      }

      .notification-item strong {
        display: block;
        font-weight: bold;
        color: black; /* Ensuring strong text is black */
      }

      .notification-item small {
        display: block;
        color: #888;
        font-size: 12px;
      }

      .notification-item .time-ago-text {
        color: #007aff; /* iOS blue color */
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <img
      src="{{ url_for('static', filename='logo.png') }}"
      alt="CircularPET Logo"
      class="logo2"
    />
    <div class="gear-icon-container">
      <i id="toggleSidebar" class="fa fa-bars"></i>
    </div>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}

    <!-- Sidebar navigation -->
    <div class="sidebar" style="display: none">
      <h2 class="side-titel">
        {{ current_user.username if current_user.is_authenticated else 'Admin'
        }}
      </h2>
      {% if current_user.is_admin %}
      <h3>Admin</h3>
      {% else %}
      <h3>Controleur</h3>
      {% endif %}
      <!-- Sidebar links -->
      <div class="max-man">
        <a href="{{ url_for('admin') }}">
          <div class="active side-link">
            <i class="fas fa-user"></i>
            <p>Admin</p>
          </div>
        </a>
        <a href="{{ url_for('change_log') }}">
          <div class="side-link">
            <i class="fas fa-book"></i>
            <p>Data</p>
          </div>
        </a>
        <a href="{{ url_for('check_ins') }}">
          <div class="side-link">
            <i class="fas fa-check"></i>
            <p>Check</p>
          </div>
        </a>
        <a href="{{ url_for('view_photos') }}">
          <div class="side-link">
            <i class="fas fa-images"></i>
            <p>Foto's</p>
          </div>
        </a>
        <a href="{{ url_for('show_briefings') }}">
          <div class="side-link">
            <i class="fas fa-file"></i>
            <p>Briefings</p>
          </div>
        </a>
        <a href="{{ url_for('bar_notes') }}">
          <div class="side-link">
            <i class="fas fa-pen"></i>
            <p>Notities</p>
          </div>
        </a>
        <a href="{{ url_for('index') }}">
          <div class="side-link">
            <i class="fas fa-arrow-left"></i>
            <p>Log-uit</p>
          </div>
        </a>
      </div>
    </div>

    <!-- Main content -->
    <div class="cube-container" style="background-color: transparent">
      <div id="usersSection" style="display: none">
        <div class="search-container minderje">
          <form class="zoekenn" action="{{ url_for('admin') }}" method="get">
            <input
              type="text"
              id="userSearchInput"
              onkeyup="sortUsers()"
              placeholder="Zoeken..."
            />
          </form>
        </div>
        {% for user in users %}
        <div class="user-info">
          <img
            src="{{ user.profile_picture if user.profile_picture else url_for('static', filename='stock.png') }}"
            alt="Profile Picture"
            class="user-profile-pic"
          />
          <a href="{{ url_for('user_dashboard', user_id=user.id) }}">
            <div class="fijv">
              <p>{{ user.username }}</p>
            </div>
          </a>
          {% if user.location %}
          <a
            href="{{ url_for('location', user_id=user.id, location_id=user.location.id) }}?user_id=1&from_admin=true"
          >
            <div class="fijv">
              <p>{{ user.location.name }}</p>
            </div>
          </a>
          {% else %}
          <a href="#">
            <div class="fijv">
              <p>Geen</p>
            </div>
          </a>
          {% endif %}
          <a href="mailto:{{ user.email }}">
            <div class="fijv meerje">
              <p>{{ user.email }}</p>
            </div>
          </a>
          <a href="tel:{{ user.phone_number }}">
            <div class="fijv rietje">
              <p>{{ user.phone_number }}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>

      <div id="workRequestsSection" style="display: none">
        <h2>Work Requests</h2>
        <ul>
          {% for request in work_requests %}
          <li>
            User: {{ request.user.username }} requested to work at {{
            request.location.name }}
            <form
              action="{{ url_for('respond_work_request', request_id=request.id) }}"
              method="post"
              style="display: inline"
            >
              <input type="hidden" name="action" value="approve" />
              <button type="submit" class="btn-approve">Approve</button>
            </form>
            <form
              action="{{ url_for('respond_work_request', request_id=request.id) }}"
              method="post"
              style="display: inline"
            >
              <input type="hidden" name="action" value="deny" />
              <button type="submit" class="btn-deny">Deny</button>
            </form>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div id="locationsSection" style="display: none">
        <h2>Locaties</h2>
        <ul id="locationsList">
          {% for location in locations %}
          <div class="location-card">
            <h3>{{ location.name }}</h3>
            <p>Datum: {{ location.date if location.date else 'Geen' }}</p>
            <p>Adres: {{ location.address if location.address else 'Geen' }}</p>
            <p>
              Starttijd: {{ location.start_time if location.start_time else
              'Geen' }}
            </p>
            <p>
              Aantal Dagen: {{ location.amount_of_days if
              location.amount_of_days else 'Geen' }}
            </p>
            <p>
              Website Links:
              <a href="{{ location.website_links }}" target="_blank"
                >{{ location.website_links if location.website_links else 'Geen'
                }}</a
              >
            </p>
            <div class="buttons">
              <a
                href="{{ url_for('location', user_id=current_user.id, location_id=location.id) }}"
                class="btn btn-secondary"
                >Ga naar Locatie</a
              >
              <a
                href="{{ url_for('location_details', location_id=location.id) }}"
                class="btn btn-secondary"
                >Bekijk Breefing</a
              >
              <form
                action="{{ url_for('toggle_location_status', location_id=location.id) }}"
                method="POST"
                style="display: inline"
              >
                <button
                  type="submit"
                  class="btn btn-secondary {{ 'btn-danger' if location.closed else 'btn-success' }}"
                >
                  {{ 'Open' if location.closed else 'Sluit' }} Aanmeldingen
                </button>
              </form>
            </div>
            <form
              action="{{ url_for('delete_location', location_id=location.id) }}"
              method="POST"
              style="display: inline"
              onsubmit="return confirm('Weet u zeker dat u deze locatie wilt verwijderen?');"
            >
              <button type="submit" class="delete-button">&times;</button>
            </form>
          </div>
          {% endfor %}
        </ul>
      </div>

      <div id="notificationsSection">
        <h2>Meldingen</h2>
        <div class="filter-container">
          <label for="locationFilter">Selecteer Locatie:</label>
          <select id="locationFilter" onchange="filterNotifications()">
            <option value="">Alle Locaties</option>
            {% for location in locations %}
            <option value="{{ location.id }}">{{ location.name }}</option>
            {% endfor %}
          </select>
        </div>

        <ul id="notificationsList">
          {% for notification in notifications %}
          <li
            class="notification-item"
            data-location="{{ notification.related_bar.id }}"
            data-timestamp="{{ notification.timestamp }}"
          >
            <form
              action="{{ url_for('delete_notification', notification_id=notification.id) }}"
              method="POST"
              onsubmit="return confirm('Weet u zeker dat u deze melding wilt verwijderen?');"
              style="display: inline"
            >
              <button type="submit" class="notification-delete-button">
                &times;
              </button>
            </form>
            <strong>{{ notification.related_bar.name }}</strong> - {{
            notification.translated_type }} {% if notification.note %} : {{
            notification.note }} {% endif %}
            <small>({{ notification.timestamp | to_local }})</small>
            <span class="time-ago-text"></span>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div id="customUserFormContainer" class="custom-form-container">
        <button
          class="custom-close-button"
          onclick="toggleForm('customUserFormContainer', 'customOverlay')"
        >
          &times;
        </button>
        <h2>Voeg gebruiker toe</h2>
        <form id="userForm" action="{{ url_for('add_user') }}" method="post">
          {{ user_form.hidden_tag() }}
          <div class="form-group">
            {{ user_form.username.label }} <br />
            {{ user_form.username }} <br />
            {% if user_form.username.errors %}
            <div class="error">{{ user_form.username.errors[0] }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ user_form.password.label }} <br />
            {{ user_form.password }} <br />
            {% if user_form.password.errors %}
            <div class="error">{{ user_form.password.errors[0] }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ user_form.email.label }} <br />
            {{ user_form.email }} <br />
            {% if user_form.email.errors %}
            <div class="error">{{ user_form.email.errors[0] }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ user_form.phone_number.label }} <br />
            {{ user_form.phone_number }} <br />
            {% if user_form.phone_number.errors %}
            <div class="error">{{ user_form.phone_number.errors[0] }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ user_form.location.label }} <br />
            {{ user_form.location }} <br />
            {% if user_form.location.errors %}
            <div class="error">{{ user_form.location.errors[0] }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ user_form.is_admin.label }} <br />
            {{ user_form.is_admin }} <br />
            {% if user_form.is_admin.errors %}
            <div class="error">{{ user_form.is_admin.errors[0] }}</div>
            {% endif %}
          </div>
          <button type="submit" class="submit-button">Create User</button>
        </form>
      </div>

      <div id="customLocationFormContainer" class="custom-form-container">
        <button
          class="custom-close-button"
          onclick="toggleForm('customLocationFormContainer', 'customOverlay')"
        >
          &times;
        </button>
        <h2>Voeg locatie toe</h2>
        <form id="locationForm" action="{{ url_for('admin') }}" method="post">
          {{ location_form.hidden_tag() }}
          <div class="form-group">
            {{ location_form.name.label }} {{ location_form.name }} {% if
            location_form.name.errors %}
            <div class="error">{{ location_form.name.errors[0] }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ location_form.date.label }} {{ location_form.date }}
          </div>
          <div class="form-group">
            {{ location_form.address.label }} {{ location_form.address }}
          </div>
          <div class="form-group">
            {{ location_form.start_time.label }} {{ location_form.start_time }}
          </div>
          <div class="form-group">
            {{ location_form.amount_of_days.label }} {{
            location_form.amount_of_days }}
          </div>
          <div class="form-group">
            {{ location_form.website_links.label }} {{
            location_form.website_links }}
          </div>
          <div class="form-group">
            {{ location_form.max_people.label }} {{ location_form.max_people }}
          </div>
          <button type="submit" class="submit-button">Create Location</button>
        </form>
      </div>

      <!-- Overlay for custom forms -->
      <div
        id="customOverlay"
        class="custom-overlay"
        onclick="closeForm()"
      ></div>

      <!-- Floating action buttons -->
      <button
        id="addUserButton"
        class="custom-floating-button"
        style="display: none"
        onclick="toggleForm('customUserFormContainer', 'customOverlay')"
      >
        +
      </button>
      <button
        id="addLocationButton"
        class="custom-floating-button"
        style="display: none"
        onclick="toggleForm('customLocationFormContainer', 'customOverlay')"
      >
        +
      </button>

      <div class="bottom-navbar">
        <a class="nav-item" onclick="toggleUsers()">
          <i class="fas fa-users"></i>
          <span>Gebruikers</span>
        </a>
        <a class="nav-item" onclick="toggleLocations()">
          <i class="fas fa-map-marker-alt"></i>
          <span>Locaties</span>
        </a>
        <a class="nav-item" onclick="toggleWorkRequests()">
          <i class="fas fa-tasks"></i>
          <span>Verzoeken</span>
        </a>
        <a class="nav-item" onclick="toggleNotifications()">
          <i class="fas fa-bell"></i>
          <span>Meldingen</span>
          <span id="notificationBadge" class="notification-badge"></span>
        </a>
      </div>

      <!-- Flash messages script -->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <script>
        $(document).ready(function() {
          {% for category, message in messages %}
            Swal.fire({
              icon: '{{ category }}' === 'success' ? 'success' : 'error',
              title: '{{ category.capitalize() }}',
              text: '{{ message }}'
            });
          {% endfor %}
        });
      </script>
      {% endif %} {% endwith %}

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

      <!-- JavaScript functions -->
      <script>
        $(document).ready(function () {
          // Sidebar toggle
          $("#toggleSidebar").click(function () {
            $(".sidebar").slideToggle();
          });

          // Sorting users based on search input
          function sortUsers() {
            var input = document.getElementById("userSearchInput");
            var filter = input.value.toLowerCase();
            var userDivs = document.getElementsByClassName("user-info");

            for (var i = 0; i < userDivs.length; i++) {
              var usernameDiv = userDivs[i].getElementsByClassName("fijv")[0];
              var username = usernameDiv.textContent || usernameDiv.innerText;

              var locationDiv = userDivs[i].getElementsByClassName("fijv")[1];
              var location = locationDiv
                ? locationDiv.textContent || locationDiv.innerText
                : "";

              if (
                username.toLowerCase().indexOf(filter) > -1 ||
                location.toLowerCase().indexOf(filter) > -1
              ) {
                userDivs[i].style.display = "";
              } else {
                userDivs[i].style.display = "none";
              }
            }
          }

          // Filter notifications based on location selection
          function filterNotifications() {
            var selectedLocation =
              document.getElementById("locationFilter").value;
            var notificationItems = document
              .getElementById("notificationsList")
              .getElementsByTagName("li");

            for (var i = 0; i < notificationItems.length; i++) {
              var notificationLocation =
                notificationItems[i].getAttribute("data-location");

              if (
                selectedLocation === "" ||
                notificationLocation === selectedLocation
              ) {
                notificationItems[i].style.display = "";
              } else {
                notificationItems[i].style.display = "none";
              }
            }
          }
        });

        // Toggle form visibility
        function toggleForm(formId, overlayId) {
          var formContainer = document.getElementById(formId);
          var overlay = document.getElementById(overlayId);

          if (formContainer.style.display === "block") {
            formContainer.style.display = "none";
            overlay.style.display = "none";
          } else {
            formContainer.style.display = "block";
            overlay.style.display = "block";
          }
        }

        // Close all forms and overlay
        function closeForm() {
          document.getElementById("customUserFormContainer").style.display =
            "none";
          document.getElementById("customLocationFormContainer").style.display =
            "none";
          document.getElementById("customOverlay").style.display = "none";
        }

        function toggleUsers() {
          var usersSection = document.getElementById("usersSection");
          var workRequestsSection = document.getElementById(
            "workRequestsSection"
          );
          var locationsSection = document.getElementById("locationsSection");
          var notificationsSection = document.getElementById(
            "notificationsSection"
          );

          if (
            usersSection.style.display === "none" ||
            usersSection.style.display === ""
          ) {
            usersSection.style.display = "block";
            workRequestsSection.style.display = "none";
            locationsSection.style.display = "none";
            notificationsSection.style.display = "none";
            $("#addUserButton").show();
            $("#addLocationButton").hide();
          } else {
            usersSection.style.display = "none";
            $("#addUserButton").hide();
          }
        }

        function toggleWorkRequests() {
          var workRequestsSection = document.getElementById(
            "workRequestsSection"
          );
          var usersSection = document.getElementById("usersSection");
          var locationsSection = document.getElementById("locationsSection");
          var notificationsSection = document.getElementById(
            "notificationsSection"
          );

          if (
            workRequestsSection.style.display === "none" ||
            workRequestsSection.style.display === ""
          ) {
            workRequestsSection.style.display = "block";
            usersSection.style.display = "none";
            locationsSection.style.display = "none";
            notificationsSection.style.display = "none";
            $("#addUserButton").hide();
            $("#addLocationButton").hide();
          } else {
            workRequestsSection.style.display = "none";
          }
        }

        function toggleLocations() {
          var locationsSection = document.getElementById("locationsSection");
          var usersSection = document.getElementById("usersSection");
          var workRequestsSection = document.getElementById(
            "workRequestsSection"
          );
          var notificationsSection = document.getElementById(
            "notificationsSection"
          );

          if (
            locationsSection.style.display === "none" ||
            locationsSection.style.display === ""
          ) {
            locationsSection.style.display = "block";
            usersSection.style.display = "none";
            workRequestsSection.style.display = "none";
            notificationsSection.style.display = "none";
            $("#addLocationButton").show();
            $("#addUserButton").hide();
          } else {
            locationsSection.style.display = "none";
            $("#addLocationButton").hide();
          }
        }

        function toggleNotifications() {
          var notificationsSection = document.getElementById(
            "notificationsSection"
          );
          var usersSection = document.getElementById("usersSection");
          var workRequestsSection = document.getElementById(
            "workRequestsSection"
          );
          var locationsSection = document.getElementById("locationsSection");

          if (
            notificationsSection.style.display === "none" ||
            notificationsSection.style.display === ""
          ) {
            notificationsSection.style.display = "block";
            usersSection.style.display = "none";
            workRequestsSection.style.display = "none";
            locationsSection.style.display = "none";
            $("#addUserButton").hide();
            $("#addLocationButton").hide();
          } else {
            notificationsSection.style.display = "none";
          }
        }
      </script>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          function timeAgo(date) {
            const now = new Date();
            const secondsPast = (now.getTime() - date.getTime()) / 1000;

            if (secondsPast < 60) {
              return `${Math.round(secondsPast)} seconds ago`;
            }
            if (secondsPast < 3600) {
              return `${Math.round(secondsPast / 60)} minutes ago`;
            }
            if (secondsPast <= 86400) {
              return `${Math.round(secondsPast / 3600)} hours ago`;
            }
            if (secondsPast > 86400) {
              const day = date.getDate();
              const month = date
                .toDateString()
                .match(/ [a-zA-Z]*/)[0]
                .replace(" ", "");
              const year =
                date.getFullYear() === now.getFullYear()
                  ? ""
                  : ` ${date.getFullYear()}`;
              return `${day} ${month}${year}`;
            }
          }

          const notificationItems =
            document.querySelectorAll(".notification-item");
          notificationItems.forEach(function (item) {
            const timestamp = item.getAttribute("data-timestamp");
            const date = new Date(timestamp);
            const timeAgoText = timeAgo(date);
            item.querySelector(".time-ago-text").textContent = timeAgoText;
          });

          setInterval(function () {
            notificationItems.forEach(function (item) {
              const timestamp = item.getAttribute("data-timestamp");
              const date = new Date(timestamp);
              const timeAgoText = timeAgo(date);
              item.querySelector(".time-ago-text").textContent = timeAgoText;
            });
          }, 60000); // Update every minute
        });
      </script>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          function timeAgo(date) {
            const now = new Date();
            const secondsPast = (now.getTime() - date.getTime()) / 1000;

            if (secondsPast < 60) {
              return `${Math.round(secondsPast)} seconds ago`;
            }
            if (secondsPast < 3600) {
              return `${Math.round(secondsPast / 60)} minutes ago`;
            }
            if (secondsPast <= 86400) {
              return `${Math.round(secondsPast / 3600)} hours ago`;
            }
            if (secondsPast > 86400) {
              const day = date.getDate();
              const month = date
                .toDateString()
                .match(/ [a-zA-Z]*/)[0]
                .replace(" ", "");
              const year =
                date.getFullYear() === now.getFullYear()
                  ? ""
                  : ` ${date.getFullYear()}`;
              return `${day} ${month}${year}`;
            }
          }

          function updateNotifications() {
            const notificationItems =
              document.querySelectorAll(".notification-item");
            const notificationBadge =
              document.getElementById("notificationBadge");
            const notificationCount = notificationItems.length;

            notificationItems.forEach(function (item) {
              const timestamp = item.getAttribute("data-timestamp");
              const date = new Date(timestamp);
              const timeAgoText = timeAgo(date);
              item.querySelector(".time-ago-text").textContent = timeAgoText;
            });

            if (notificationCount > 0) {
              notificationBadge.textContent = notificationCount;
              notificationBadge.style.display = "inline-block";
            } else {
              notificationBadge.style.display = "none";
            }
          }

          updateNotifications();
          setInterval(updateNotifications, 60000); // Update every minute

          window.toggleNotifications = function () {
            var notificationsSection = document.getElementById(
              "notificationsSection"
            );
            var usersSection = document.getElementById("usersSection");
            var workRequestsSection = document.getElementById(
              "workRequestsSection"
            );
            var locationsSection = document.getElementById("locationsSection");

            if (
              notificationsSection.style.display === "none" ||
              notificationsSection.style.display === ""
            ) {
              notificationsSection.style.display = "block";
              usersSection.style.display = "none";
              workRequestsSection.style.display = "none";
              locationsSection.style.display = "none";
              $("#addUserButton").hide();
              $("#addLocationButton").hide();
            } else {
              notificationsSection.style.display = "none";
            }
          };
        });
      </script>
    </div>
  </body>
</html>
