<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <title>Admin</title>
    <style>
      .location-card {
        position: relative;
        padding: 10px;
        border: 1px solid #ccc;
        margin: 10px 0;
      }
      .delete-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        border: none;
        color: red;
        font-size: 20px;
        cursor: pointer;
      }

      form {
        background-color: transparent;
      }
    </style>
  </head>
  <body>
    <img
      src="{{ url_for('static', filename='logo.png') }}"
      alt="CircularPET Logo"
      class="logo2"
    />
    <div class="gear-icon-container">
      <i id="toggleSidebar" class="fa fa-bars"></i>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}

    <div class="sidebar" style="display: none">
      <h2 class="side-titel">
        {{ current_user.username if current_user.is_authenticated else 'Admin'
        }}
      </h2>
      {% if current_user.is_admin %}
      <h3>Admin</h3>
      {% else %}
      <h3>Controleur</h3>
      {% endif %}

      <div class="max-man">
        <a href="{{ url_for('admin') }}">
          <div class="active side-link">
            <i class="fas fa-user"></i>
            <p>Admin</p>
          </div>
        </a>
        <a href="{{ url_for('change_log') }}">
          <div class="side-link">
            <i class="fas fa-book"></i>
            <p>Data</p>
          </div>
        </a>
        <a href="{{ url_for('check_ins') }}">
          <div class="side-link">
            <i class="fas fa-check"></i>
            <p>Check</p>
          </div>
        </a>
        <a href="{{ url_for('view_photos') }}">
          <div class="side-link">
            <i class="fas fa-images"></i>
            <p>Foto's</p>
          </div>
        </a>
        <a href="{{ url_for('show_briefings') }}">
          <div class="side-link">
            <i class="fas fa-file"></i>
            <p>Briefings</p>
          </div>
        </a>
        <a href="{{ url_for('bar_notes') }}">
          <div class="side-link">
            <i class="fas fa-pen"></i>
            <p>Notities</p>
          </div>
        </a>
        <a href="{{ url_for('index') }}">
          <div class="side-link">
            <i class="fas fa-arrow-left"></i>
            <p>Log-uit</p>
          </div>
        </a>
      </div>
    </div>

    <div class="cube-container" style="background-color: transparent">
      <div id="usersSection" style="display: none">
        <div class="search-container minderje">
          <form class="zoekenn" action="{{ url_for('admin') }}" method="get">
            <input
              type="text"
              id="userSearchInput"
              onkeyup="sortUsers()"
              placeholder="Zoeken..."
            />
          </form>
        </div>

        {% for user in users %}
        <div class="user-info">
          <img
            src="{{ user.profile_picture if user.profile_picture else url_for('static', filename='stock.png') }}"
            alt="Profile Picture"
            class="user-profile-pic"
          />
          <a href="{{ url_for('user_dashboard', user_id=user.id) }}">
            <div class="fijv">
              <p>{{ user.username }}</p>
            </div>
          </a>
          {% if user.location %}
          <a
            href="{{ url_for('location', user_id=user.id, location_id=user.location.id) }}?user_id=1&from_admin=true"
          >
            <div class="fijv">
              <p>{{ user.location.name }}</p>
            </div>
          </a>
          {% else %}
          <a href="#">
            <div class="fijv">
              <p>Geen</p>
            </div>
          </a>
          {% endif %}
          <a href="mailto:{{ user.email }}">
            <div class="fijv meerje">
              <p>{{ user.email }}</p>
            </div>
          </a>
          <a href="tel:{{ user.phone_number }}">
            <div class="fijv rietje">
              <p>{{ user.phone_number }}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>

      <div id="workRequestsSection" style="display: none">
        <h2>Work Requests</h2>
        <ul>
          {% for request in work_requests %}
          <li>
            User: {{ request.user.username }} requested to work at {{
            request.location.name }}
            <form
              action="{{ url_for('respond_work_request', request_id=request.id) }}"
              method="post"
              style="display: inline"
            >
              <input type="hidden" name="action" value="approve" />
              <button type="submit" class="btn-approve">Approve</button>
            </form>
            <form
              action="{{ url_for('respond_work_request', request_id=request.id) }}"
              method="post"
              style="display: inline"
            >
              <input type="hidden" name="action" value="deny" />
              <button type="submit" class="btn-deny">Deny</button>
            </form>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div id="locationsSection" style="display: none">
        <h2>Locations</h2>
        <ul id="locationsList">
          {% for location in locations %}
          <div class="location-card">
            <h3>{{ location.name }}</h3>
            <p>Date: {{ location.date if location.date else 'None' }}</p>
            <p>
              Address: {{ location.address if location.address else 'None' }}
            </p>
            <p>
              Start Time: {{ location.start_time if location.start_time else
              'None' }}
            </p>
            <p>
              Amount of Days: {{ location.amount_of_days if
              location.amount_of_days else 'None' }}
            </p>
            <p>
              Website Links: {{ location.website_links if location.website_links
              else 'None' }}
            </p>
            <a href="{{ url_for('location_details', location_id=location.id) }}"
              >View Details</a
            >
            <form
              action="{{ url_for('delete_location', location_id=location.id) }}"
              method="POST"
              style="display: inline"
              onsubmit="return confirm('Are you sure you want to delete this location?');"
            >
              <button type="submit" class="delete-button">&times;</button>
            </form>
          </div>
          {% endfor %}
        </ul>
      </div>

      <div id="customUserFormContainer" class="custom-form-container">
        <button
          class="custom-close-button"
          onclick="toggleForm('customUserFormContainer', 'customOverlay')"
        >
          &times;
        </button>
        <h2>Voeg gebruiker toe</h2>
        <form id="userForm" action="{{ url_for('add_user') }}" method="post">
          {{ user_form.hidden_tag() }}
          <div class="form-group">
            {{ user_form.username.label }} <br />
            {{ user_form.username }} <br />
            {% if user_form.username.errors %}
            <div class="error">{{ user_form.username.errors[0] }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ user_form.password.label }} <br />
            {{ user_form.password }} <br />
            {% if user_form.password.errors %}
            <div class="error">{{ user_form.password.errors[0] }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ user_form.email.label }} <br />
            {{ user_form.email }} <br />
            {% if user_form.email.errors %}
            <div class="error">{{ user_form.email.errors[0] }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ user_form.phone_number.label }} <br />
            {{ user_form.phone_number }} <br />
            {% if user_form.phone_number.errors %}
            <div class="error">{{ user_form.phone_number.errors[0] }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ user_form.location.label }} <br />
            {{ user_form.location }} <br />
            {% if user_form.location.errors %}
            <div class="error">{{ user_form.location.errors[0] }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ user_form.is_admin.label }} <br />
            {{ user_form.is_admin }} <br />
            {% if user_form.is_admin.errors %}
            <div class="error">{{ user_form.is_admin.errors[0] }}</div>
            {% endif %}
          </div>
          <button type="submit" class="submit-button">Create User</button>
        </form>
      </div>

      <div id="customLocationFormContainer" class="custom-form-container">
        <button
          class="custom-close-button"
          onclick="toggleForm('customLocationFormContainer', 'customOverlay')"
        >
          &times;
        </button>
        <h2>Voeg locatie toe</h2>
        <form id="locationForm" action="{{ url_for('admin') }}" method="post">
          {{ location_form.hidden_tag() }}
          <div class="form-group">
            {{ location_form.name.label }} {{ location_form.name }} {% if
            location_form.name.errors %}
            <div class="error">{{ location_form.name.errors[0] }}</div>
            {% endif %}
          </div>
          <div class="form-group">
            {{ location_form.date.label }} {{ location_form.date }}
          </div>
          <div class="form-group">
            {{ location_form.address.label }} {{ location_form.address }}
          </div>
          <div class="form-group">
            {{ location_form.start_time.label }} {{ location_form.start_time }}
          </div>
          <div class="form-group">
            {{ location_form.amount_of_days.label }} {{
            location_form.amount_of_days }}
          </div>
          <div class="form-group">
            {{ location_form.website_links.label }} {{
            location_form.website_links }}
          </div>
          <div class="form-group">
            {{ location_form.max_people.label }} {{ location_form.max_people }}
          </div>
          <button type="submit" class="submit-button">Create Location</button>
        </form>
      </div>

      <div
        id="customOverlay"
        class="custom-overlay"
        onclick="closeForm()"
      ></div>

      <button
        id="addUserButton"
        class="custom-floating-button"
        style="display: none"
        onclick="toggleForm('customUserFormContainer', 'customOverlay')"
      >
        +
      </button>
      <button
        id="addLocationButton"
        class="custom-floating-button"
        style="display: none"
        onclick="toggleForm('customLocationFormContainer', 'customOverlay')"
      >
        +
      </button>

      <div class="bottom-navbar">
        <a class="nav-item" onclick="toggleUsers()">
          <i class="fas fa-users"></i>
          <span>Gebruikers</span>
        </a>
        <a class="nav-item" onclick="toggleLocations()">
          <i class="fas fa-map-marker-alt"></i>
          <span>Locaties</span>
        </a>
        <a class="nav-item" onclick="toggleWorkRequests()">
          <i class="fas fa-tasks"></i>
          <span>Verzoeken</span>
        </a>
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <script>
        $(document).ready(function() {
            {% for category, message in messages %}
            Swal.fire({
                icon: '{{ category }}' === 'success' ? 'success' : 'error',
                title: '{{ category.capitalize() }}',
                text: '{{ message }}'
            });
            {% endfor %}
        });
      </script>
      {% endif %} {% endwith %}

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>
        $(document).ready(function () {
          $("#toggleSidebar").click(function () {
            $(".sidebar").slideToggle();
          });
        });

        function toggleForm(formId, overlayId) {
          console.log("Toggling form:", formId); // Debugging line
          var formContainer = document.getElementById(formId);
          var overlay = document.getElementById(overlayId);
          if (formContainer.style.display === "block") {
            formContainer.style.display = "none";
            overlay.style.display = "none";
          } else {
            formContainer.style.display = "block";
            overlay.style.display = "block";
          }
        }

        function closeForm() {
          document.getElementById("customUserFormContainer").style.display =
            "none";
          document.getElementById("customLocationFormContainer").style.display =
            "none";
          document.getElementById("customOverlay").style.display = "none";
        }

        function toggleUsers() {
          var usersSection = document.getElementById("usersSection");
          var workRequestsSection = document.getElementById(
            "workRequestsSection"
          );
          var locationsSection = document.getElementById("locationsSection");
          if (
            usersSection.style.display === "none" ||
            usersSection.style.display === ""
          ) {
            usersSection.style.display = "block";
            workRequestsSection.style.display = "none";
            locationsSection.style.display = "none";
            $("#addUserButton").show();
            $("#addLocationButton").hide();
          } else {
            usersSection.style.display = "none";
            $("#addUserButton").hide();
          }
        }

        function toggleWorkRequests() {
          var workRequestsSection = document.getElementById(
            "workRequestsSection"
          );
          var usersSection = document.getElementById("usersSection");
          var locationsSection = document.getElementById("locationsSection");
          if (
            workRequestsSection.style.display === "none" ||
            workRequestsSection.style.display === ""
          ) {
            workRequestsSection.style.display = "block";
            usersSection.style.display = "none";
            locationsSection.style.display = "none";
            $("#addUserButton").hide();
            $("#addLocationButton").hide();
          } else {
            workRequestsSection.style.display = "none";
          }
        }

        function toggleLocations() {
          var locationsSection = document.getElementById("locationsSection");
          var usersSection = document.getElementById("usersSection");
          var workRequestsSection = document.getElementById(
            "workRequestsSection"
          );
          if (
            locationsSection.style.display === "none" ||
            locationsSection.style.display === ""
          ) {
            locationsSection.style.display = "block";
            usersSection.style.display = "none";
            workRequestsSection.style.display = "none";
            $("#addLocationButton").show();
            $("#addUserButton").hide();
          } else {
            locationsSection.style.display = "none";
            $("#addLocationButton").hide();
          }
        }

        function sortUsers() {
          var input = document.getElementById("userSearchInput");
          var filter = input.value.toLowerCase();
          var userDivs = document.getElementsByClassName("user-info");

          for (var i = 0; i < userDivs.length; i++) {
            var usernameDiv = userDivs[i].getElementsByClassName("fijv")[0];
            var username = usernameDiv.textContent || usernameDiv.innerText;

            var locationDiv = userDivs[i].getElementsByClassName("fijv")[1];
            var location = locationDiv
              ? locationDiv.textContent || locationDiv.innerText
              : "";

            if (
              username.toLowerCase().indexOf(filter) > -1 ||
              location.toLowerCase().indexOf(filter) > -1
            ) {
              userDivs[i].style.display = "";
            } else {
              userDivs[i].style.display = "none";
            }
          }
        }
      </script>
    </div>
  </body>
</html>
