<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>{{ bar.name }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <img src="{{ url_for('static', filename='logo.png') }}" alt="CircularPET Logo" class="logo2">
    <a href="javascript:history.back()" class="back-button"><i class="fas fa-arrow-left"></i></a>
    {% if from_admin %}
        <i id="toggleDetailsButton" class="fa fa-cog gear-icon-container"></i>
    {% endif %}

    <div class="cube-container bottom-boy" style="display: none;">
        <div class="cube user-cube">

            <form method="POST">
                <div class="meer">
                    <label for="zakkenInput">Zakken gekregen:</label>
                    <div class="input-group-form">
                        <button id="zakken-minus">-</button>
                        <input type="number" id="zakken_gekregenInput" name="zakken_gekregen"
                            value="{{ bar.zakken_gekregen }}" style=" -moz-appearance: textfield;">
                        <button id="zakken-plus">+</button>
                    </div>
                </div>
                <div class="meer">
                    <label for="muntenInput">Munten gekregen:</label>
                    <div class="input-group-form">
                        <button id="munten-minus">-</button>
                        <input type="number" id="munten_gekregenInput" name="munten_gekregen"
                            value="{{ bar.munten_gekregen }}" style="-moz-appearance: textfield;">

                        <button id="munten-plus">+</button>
                    </div>
                </div>
                <div class="meer">
                    <label for="volleZakkenInput">Volle zakken opgehaald:</label>
                    <div class="input-group-form">
                        <button id="volleZakken-minus">-</button>
                        <input type="number" id="volle_zakken_opgehaaldInput" name="volle_zakken_opgehaald"
                            value="{{ bar.volle_zakken_opgehaald }}" style=" -moz-appearance: textfield;">
                        <button id="volleZakken-plus">+</button>
                    </div> 
                </div>
                <div class="meer" id="kgVanZakContainer">
                    <label for="kg_van_zakInput">Totaal KG van zakken:</label>
                    <div class="input-group-form">
                        <input type="number" id="volle_zakken_opgehaaldInput" name="volle_zakken_opgehaald"
                               value="{{ bar.kg_van_zak }}" style=" -moz-appearance: textfield;">
                    </div>
                </div>
                <div class="gray"> 
                    <form id="link-form" style="display: none;" method="post" data-bar-id="{{ bar.id }}">
                        <label for="link">googlemaps link:</label><br>
                    <input type="text" id="link" name="link">
                    <input type="submit" value="Submit">
                </form>
            </div>
            </form>
        </div>
    </div>
    </div>

    <div class="cube-container bottom-boy">
        <div class="cube user-cube">

            <a href="{{ bar.link }}" class="btn btn-primary">Ga naar bar</a>


            <form method="POST" action="{{ url_for('update_bar_details', bar_id=bar.id) }}">
                <div class="input-group">
                    <label for="zakken_gekregen">Zakken gekregen:</label>
                    <input type="number" name="zakken_gekregen" id="zakken_gekregen" >
                </div>
                <div class="input-group">
                    <label for="munten_gekregen">Munten gekregen:</label>
                    <input type="number" name="munten_gekregen" id="munten_gekregen" >
                </div>
                <div class="input-group">
                    <label for="volle_zakken_opgehaald">Volle zakken opgehaald:</label>
                    <input type="number" name="volle_zakken_opgehaald" id="volle_zakken_opgehaald" >
                </div>
                <div class="input-group meer" id="kgVanZakContainer">
                    <label for="kg_van_zakInput">Totaal KG van zakken:</label>
                    <input type="number" id="kg_van_zakInput" name="kg_van_zak" style=" -moz-appearance: textfield;">
                </div>

                <input type="submit" value="Stuur">
            </form>


        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            // Toggle details functionality
            $("#toggleDetailsButton").click(function () {
                $(".cube-container").slideToggle(); // Adjust the selector if needed
                $('#link-form').toggle();
                $('#zakken-minus, #zakken-plus, #munten-minus, #munten-plus, #volleZakken-minus, #volleZakken-plus').toggle();
            });
    
            $('#link-form').submit(function(e) {
                e.preventDefault(); // Prevent default form submission
                var barId = $(this).data('bar-id');
                var linkValue = $('#link').val();
                var updateLinkUrl = `/bar/${barId}/update-link`;
                
                $.ajax({
                    url: updateLinkUrl,
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ link: linkValue }),
                    success: function(response) {
                        alert('Link updated successfully');
                    },
                    error: function(xhr, status, error) {
                        alert('Error updating link');
                    }
                });
            });


    
            // Button click event handlers for increment/decrement actions
            $('#zakken-minus, #zakken-plus, #munten-minus, #munten-plus, #volleZakken-minus, #volleZakken-plus').click(function (e) {
                e.preventDefault();
                var idParts = this.id.split('-');
                var field = idParts[0] + '_gekregen';
                var increment = idParts[1] === 'plus' ? 1 : -1;
                if (field === 'volleZakken_gekregen') field = 'volle_zakken_opgehaald';
                updateBar(field, increment);
            });
    
            // Show/hide Kg van zak dynamically
            function toggleKgVanZakVisibility() {
                var volleZakkenValue = $('#volle_zakken_opgehaaldInput').val();
                if (volleZakkenValue > 0) {
                    $('#kgVanZakContainer').show();
                } else {
                    $('#kgVanZakContainer').hide();
                }
            }
    
            $('#volle_zakken_opgehaaldInput').on('input', toggleKgVanZakVisibility);
            toggleKgVanZakVisibility(); // Call on document ready to ensure correct initial state
    
            // Function to update bar details and log changes
            function updateBar(field, increment) {
                var input = $('#' + field + 'Input');
                var currentValue = parseInt(input.val(), 10) || 0;
                var newValue = currentValue + increment;
                $.ajax({
                    url: '/bar/{{ bar.id }}/update',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ field: field, increment: increment }),
                    success: function (response) {
                        input.val(newValue);
                        logChangeToServer('{{ bar.id }}', field, currentValue, newValue);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Request failed:', textStatus, errorThrown);
                        console.log(jqXHR.responseText);
                    }
                });
            }
    
            // Logging function
            function logChangeToServer(barId, field, oldValue, newValue) {
                $.ajax({
                    url: '/log_change',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        bar_id: barId,
                        field: field,
                        old_value: oldValue.toString(),
                        new_value: newValue.toString()
                    }),
                    success: function (response) {
                        console.log('Change logged successfully', response);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Failed to log change:', textStatus, errorThrown);
                        console.log(jqXHR.responseText);
                    }
                });
            }
        });
    </script>
    


</body>

</html>