<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='briefing.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Briefings</title>
</head>
<body>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="CircularPET Logo" class="logo2">
    <div class="gear-icon-container"> <i id="toggleSidebar" class="fa fa-bars"></i></div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="sidebar" style="display: none;">
    <!-- BEGIN: Changed the initial display to none -->
    <h2 class="side-titel">{{ current_user.username if current_user.is_authenticated else 'Admin' }}</h2>
    {% if current_user.is_admin %}
    <h3>Admin</h3>
    {% else %}
    <h3>Controleur</h3>
    {% endif %}

    <a href="{{ url_for('admin') }}">
        <div class="side-link">
            <i class="fas fa-user"></i>
        <p>Admin</p>
        </div>
    </a>

    <a href="{{ url_for('change_log') }}">
        <div class="side-link">
        <i class="fas fa-book"></i>
        <p>Log</p>
        </div>
    </a>

    <a href="{{ url_for('check_ins') }}">
        <div class="side-link">
        <i class="fas fa-check"></i>
        <p>Check</p>
        </div>
    </a>

    <a href="{{ url_for('view_photos') }}">
        <div class="side-link">
            <i class="fas fa-images"></i>
            <p>Photos</p>
        </div>
    </a>

    <a href="{{ url_for('show_briefings') }}">
        <div class="active side-link">
            <i class="fas fa-file"></i>
            <p>Briefings</p>
        </div>
    </a>
    
    
    <div class="side-bottom">

        <div class="line"></div>

        <a href="{{ url_for('index') }}">
            <div class="side-link">
            <i class="fas fa-arrow-left"></i>
            <p>Log-uit</p>
        </div>
        </a>
    </div>
</div>

    <h1 class="main-heading">All Briefings</h1>
    <ul class="briefing-list">
        {% for briefing in briefings %}
        <li class="briefing-item"><a href="{{ url_for('location_details', location_id=briefing.id) }}" class="briefing-link">{{ briefing.name }}</a></li>
        {% endfor %}
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#toggleSidebar').click(function () {
                // Toggle the visibility of the sidebar with a slide animation
                $('.sidebar').slideToggle();
            });
        });
    </script>

</body>

</html>
