<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Briefings</title>
</head>
<body>
    <h1>All Briefings</h1>
    <ul>
        {% for briefing in briefings %}
        <li><a href="{{ url_for('briefing_detail', briefing_id=briefing.id) }}">{{ briefing.name }}</a></li>
                    <a href="{{ url_for('edit_briefing', briefing_id=briefing.id) }}">Edit</a>
        {% endfor %}
    </ul>
</body>
</html>
