<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Briefing Overview</title>
</head>
<body>
    

    {% for location in locations %}
    
    <h1>Add Briefing for {{ location.name }}</h1>

    <!-- The form for adding a new briefing -->
    <!-- No need for a separate 'Add Briefing' link, as the form is directly on the page -->
    <div class="briefing-form-container">
    <form method="POST" action="{{ url_for('briefing') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>{{ form.information.label }} {{ form.information }}</div>
        <div>{{ form.date.label }} {{ form.date }}</div>
        <div>{{ form.user.label }} {{ form.user(multiple="multiple") }}</div>
        <!-- <div>{{ form.event_time.label }} {{ form.event_time }}</div> -->
        <div id="day-time-entries-container"></div>
        <button type="button" id="add-day-time-entry">Dagen en tijden toevoegen</button>
        <div>{{ form.team_contact.label }} {{ form.team_contact }}</div>
        <div>{{ form.planning.label }} {{ form.planning }}</div>
        <div>{{ form.accreditation.label }} {{ form.accreditation }}</div>
        <div>{{ form.break_food.label }} {{ form.break_food }}</div>
        <div>{{ form.accommodation.label }} {{ form.accommodation }}</div>
        <div>{{ form.production_bags.label }} {{ form.production_bags }}</div>
        <div>{{ form.production_bars.label }} {{ form.production_bars }}</div>
        <div>{{ form.collection.label }} {{ form.collection }}</div>
        <div>{{ form.container.label }} {{ form.container }}</div>
        <div>{{ form.gator.label }} {{ form.gator }}</div>
        <div>{{ form.signing.label }} {{ form.signing }}</div>
        <!-- Photo upload field -->
        <div>{{ form.photo.label }} {{ form.photo }}</div>
        <div>{{ form.return_system.label }} {{ form.return_system }}</div>
        <div>{{ form.special_notes.label }} {{ form.special_notes }}</div>
        <!-- Dynamically added day-time entries will go here -->
        <div>{{ form.submit() }}</div>
    </form>
</div>
{% endfor %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            // Initialize a variable to keep track of the number of day-time entries added
            var dayTimeEntriesCount = 0;

            $("#add-day-time-entry").click(function(){
                // Increment the count each time the button is clicked
                dayTimeEntriesCount++;

                // Update the newEntryHtml string to include the count for each set of inputs
                var newEntryHtml = `<div>
                                        <label>Dag ${dayTimeEntriesCount}</label>
                                        <input type="text" name="day_time_entries-${dayTimeEntriesCount}-start_time" placeholder="Van">
                                        <input type="text" name="day_time_entries-${dayTimeEntriesCount}-end_time" placeholder="Tot">
                                    </div>`;

                // Append the updated HTML to the container
                $("#day-time-entries-container").append(newEntryHtml);
            });
        });
    </script>
</body>
</html>
