<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>All Bar Check-Ins</title>
</head>
<body>

    <img src="{{ url_for('static', filename='logo.png') }}" alt="CircularPET Logo" class="logo2">
    <a href="javascript:history.back()" class="back-button"><i class="fas fa-arrow-left"></i></a>
    <div class="gear-icon-container"> <i id="toggleSidebar" class="fa fa-bars"></i></div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="sidebar" style="display: none;">
        <!-- BEGIN: Changed the initial display to none -->
            <h2 class="side-titel">{{ current_user.username if current_user.is_authenticated else 'Admin' }}</h2>
                {% if current_user.is_admin %}
                    <h3>Admin</h3>
                    {% else %}
                <h3>Controleur</h3>
            {% endif %}

        <a href="{{ url_for('admin') }}">
            <div class="side-link">
                <i class="fas fa-user"></i>
            <p>Admin</p>
            </div>
        </a>

        <a href="{{ url_for('change_log') }}">
            <div class="side-link">
            <i class="fas fa-book"></i>
            <p>Log</p>
            </div>
        </a>

        <a href="{{ url_for('check_ins') }}">
            <div class=" active side-link">
            <i class="fas fa-check"></i>
            <p>Check</p>
            </div>
        </a>

        <a href="{{ url_for('view_photos') }}">
            <div class="side-link">
                <i class="fas fa-images"></i>
                <p>Photos</p>
            </div>
        </a>


        <div class="side-bottom">

            <div class="line"></div>
    
            <a href="{{ url_for('index') }}">
                <div class="side-link">
                <i class="fas fa-arrow-left"></i>
                <p>Log-uit</p>
            </div>
            </a>
        </div>
    
                <a href="{{ url_for('export_check_ins') }}" class="fab" aria-label="Download">
            <i class="fas fa-download"></i>
        </a>
    </div>

        <div class="location-filters">
            <form action="{{ url_for('check_ins') }}" method="get">
                <select name="location_id" onchange="this.form.submit()">
                    <option value="">Select a Location</option>
                    {% for location in locations %}
                        <option value="{{ location.id }}">{{ location.name }}</option>
                        {% endfor %}

                </select>
            </form>

        </div>
    
        <div class="bars-container">
            {% for bar in bars %}
            {% set hours_since_checkin = bar.last_checked_in | hours_since %}
            <div class="bar-item" 
                 style="background-color: 
                        {% if hours_since_checkin is none or hours_since_checkin < 0.1 %}white;
                        {% elif hours_since_checkin > 2 %}red; color: white;
                        {% elif hours_since_checkin > 1 %}orange; color: white;
                        {% else %}white;
                        {% endif %}">
                <h3>Bar: {{ bar.name }} bij {{ bar.location.name }}</h3>
                <p>Last checked in: {{ bar.last_checked_in | time_since }}</p>
                {% if bar.last_checked_in_user %}
                <p>Checked in by: <a href="{{ url_for('user_dashboard', user_id=bar.last_checked_in_user.id) }}">{{ bar.last_checked_in_user.username }}</a></p>                {% else %}
                <p>Checked in by: N/A</p>
                {% endif %}
                <!-- Optional: Uncomment if you want to enable manual check-in -->
                <!-- <form action="{{ url_for('check_in_bar', bar_id=bar.id) }}" method="post">
                    <button type="submit">Check In</button>
                </form> -->
            </div>
            {% endfor %}
        </div>
    
        </div>

    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#toggleSidebar').click(function () {
                    // Toggle the visibility of the sidebar with a slide animation
                    $('.sidebar').slideToggle();
                });
            });
        </script>
</body>
</html>
