<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <title>Dashboard</title>
  </head>

  <style>
    .btn-link {
      padding: 6px 12px;
      background-color: #007bff;
      color: white;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      margin: 5px;
      display: inline-block;
    }
    .btn-link:hover {
      background-color: #0056b3;
      color: white;
    }
  </style>

  <body>
    <img
      src="{{ url_for('static', filename='cup.png') }}"
      alt="Floating Cup"
      class="floating-cup"
    />
    <img
      src="{{ url_for('static', filename='logo.png') }}"
      alt="CircularPET Logo"
      class="logo2"
    />
    <img
      src="{{ user.profile_picture if user.profile_picture else url_for('static', filename='stock.png') }}"
      alt=""
      id="profilePic"
    />

    <div class="login-container bigger">
      <div class="login-form naame">
        <h2>{{ username }}</h2>
        {% if current_user.is_admin %}
        <h3>Admin</h3>
        <a href="{{ url_for('admin') }}" class="btn-link">Go to Admin Page</a>
        {% else %}
        <h3>Controleur</h3>
        {% endif %} {% if user.location %}
        <div>
          <br /><br /><br /><br />
          <p><b>Evenement {{ location_name }}</b></p>
          <a
            href="{{ url_for('location', user_id=user.id, location_id=user.location.id) }}"
            class="btn-link ora"
            >Ga er heen</a
          >
          <a
            href="{{ url_for('view_location', location_id=user.location.id) }}"
            class="btn-link"
            >Briefing</a
          >
          <h4>
            <em
              >Let op: lees de briefing voorafgaand aan het evenement zorgvuldig
              door</em
            >
          </h4>
        </div>
        {% else %}
        <p>Je hebt nog geen locatie</p>
        {% endif %}
      </div>
      <a href="{{ url_for('list_locations') }}" class="btn-link"
        >List of Locations</a
      >
    </div>

    <div class="bottom-navbar">
      <a href="{{ url_for('index') }}" class="nav-item"
        ><i class="fas fa-arrow-left"></i><span>Uitloggen</span></a
      >
      <a href="#settings" class="nav-item"
        ><i class="fas fa-cog"></i><span>Instellingen</span></a
      >
    </div>

    <input
      type="file"
      id="profileInput"
      name="profile_picture"
      style="display: none"
      onchange="uploadPicture()"
    />

    <div id="passwordChangeLightbox" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="password-change-form">
          <h3>Verander wachtwoord</h3>
          <form
            action="{{ url_for('change_password', user_id=user.id) }}"
            method="post"
          >
            <label for="new_password">Nieuw wachtwoord:</label>
            <input
              type="password"
              id="new_password"
              name="new_password"
              required
            />
            <label for="confirm_password">Opnieuwe nieuwe wachtwoord:</label>
            <input
              type="password"
              id="confirm_password"
              name="confirm_password"
              required
            />
            <button type="submit">Verstuur</button>
          </form>
        </div>
      </div>
    </div>

    <script>
      document.getElementById("profilePic").onclick = function () {
        document.getElementById("profileInput").click();
      };

      function uploadPicture() {
        var form_data = new FormData();
        var file_input = document.getElementById("profileInput");
        var profile_pic_img = document.getElementById("profilePic");

        if (file_input.files.length > 0) {
          form_data.append("profile_picture", file_input.files[0]);
          fetch('{{ url_for("upload_profile_picture", user_id=user.id) }}', {
            method: "POST",
            body: form_data,
            credentials: "include",
          })
            .then((response) => {
              if (!response.ok) {
                throw new Error("Network response was not ok");
              }
              return response.json();
            })
            .then((data) => {
              if (data.image_url) {
                profile_pic_img.src = data.image_url;
              } else {
                alert("Upload succeeded, but no image URL was returned.");
              }
            })
            .catch((error) => {
              console.error("Upload failed:", error);
              alert("Failed to upload the profile picture. " + error.message);
            });
        }
      }
    </script>
    <script>
      var modal = document.getElementById("passwordChangeLightbox");
      var btn = document.querySelector(".fa-cog");
      var span = document.getElementsByClassName("close")[0];

      btn.onclick = function () {
        modal.style.display = "block";
      };

      span.onclick = function () {
        modal.style.display = "none";
      };

      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };
    </script>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
  </body>
</html>
