<!DOCTYPE html>
<html>
<head>
    <title>Data</title>
</head>
<body>
    <h1>Users</h1>
    <ul>
    {% for user in users %}
        <li>{{ user.username }} - Location: {{ user.location.name if user.location else 'No location assigned' }}</li>
    {% endfor %}
    </ul>

    <h1>Locations</h1>
    <ul>
    {% for location in locations %}
        <li>{{ location.name }}</li>
    {% endfor %}
    </ul>

    <h1>Forms</h1>
    <ul>
    {% for form in forms %}
        <li>User: {{ form.user.username }} - Location: {{ form.location.name if form.location else 'No location assigned' }} - Data: {{ form.data }}</li>
    {% endfor %}
    </ul>
</body>
</html>