<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>CircularPET - Login</title>
</head>

<body>

    <div id="loading" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <img id="loading-icon" src="{{ url_for('static', filename='path_to_your_cup.png') }}" alt="Loading...">
    </div>

    <img src="{{ url_for('static', filename='cup.png') }}" alt="Floating Cup" class="floating-cup">
    <div class="login-container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="CircularPET Logo" class="logo">
        <div class="login-form">
            <form id="loginForm" method="POST" action="{{ url_for('login') }}" style="height: 160px;">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}

                <div class="input-group">
                    <input type="text" id="username" name="username" required placeholder="Naam">
                </div>
                <div class="input-group">
                    <input type="password" id="password" name="password" required placeholder="Wachtwoord">
                </div>
                <div class="input-group">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>

    <img id="movingImage" src="{{ url_for('static', filename='image.png') }}" alt="Moving Image" style="position: absolute; bottom: 0; display: none;">


    <script>
        document.getElementById('loginForm').addEventListener('submit', function () {
            document.getElementById('loading').style.display = 'block';
        });
    </script>
    <script>
        let clickCount = 0;
        const cupImage = document.querySelector('.floating-cup');
        const movingImage = document.getElementById('movingImage');
    
        cupImage.addEventListener('click', function() {
            clickCount += 1;
            if (clickCount === 3) {
                clickCount = 0; // Reset click count
                movingImage.style.display = 'block'; // Make the image visible
    
                // Start the animation
                const keyframes = [
                    { transform: 'translateX(-100vw)' }, 
                    { transform: 'translateX(200vw)' }
                ];
                const options = {
                    duration: 10000, // 5 seconds
                    fill: 'forwards' // Keep the property values set by the last keyframe
                };
                movingImage.animate(keyframes, options).onfinish = () => {
                    movingImage.style.display = 'none'; // Hide after animation
                };
            }
        });
    </script>
    

</body>

</html>