<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>{{ location.name }}</title>
</head>

<body>

    <div class="search-container location-bar">
        <form action="" method="get"> <!-- You may need to adjust the action attribute -->
            <input type="text" id="barSearchInput" onkeyup="searchBars()" placeholder="Search bars...">
        </form>
    </div>

    {% if from_admin %}

    <div id="formContainer">
        <form id="barLinkForm" method="POST">
            <input type="text" name="bar_name" class="form-input" placeholder="Bar Name" required>
            <input type="submit" value="Add Bar" class="submit-button">
            <div id="errorText" class="error-text"></div> <!-- Error message will be displayed here -->
        </form>
    </div>
    {% endif %}

    <!-- Button to remove bar, initially hidden -->
    <button id="removeBarBtn" style="display: none;">Remove Bar</button>


    <!-- Form, initially hidden -->

    <ul id="barsList" class="bars-list">
        {% for bar in bars %}
        <li>
            <!-- Conditionally render the URL based on the user's admin status -->
            {% if current_user.is_admin %}
            <a href="{{ url_for('bar', bar_id=bar.id, user_id=current_user.id, from_admin=true) }}"
                class="bar-button">{{ bar.name }}</a>
            {% else %}
            <a href="{{ url_for('bar', bar_id=bar.id) }}" class="bar-button">{{ bar.name }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            // Toggle form visibility when the gear icon is clicked
            // Handle form submission
            $('#barLinkForm').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/add_bar_to_location/{{ location.id }}',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (response) {
                        $('#barsList').append('<li><a href="/bar/' + response.bar_id + '">' + response.bar_name + '</a></li>');
                        $('#errorText').text('');
                    },
                    error: function (response) {
                        $('#errorText').text('Error: The bar could not be added.');
                    }
                });
            });
        });
    </script>

    <script>
        success: function(response) {
            // Make sure `response` actually includes `bar_id`
            $('#barsList').append('<li><a href="/bar/' + response.bar_id + '">' + response.bar_name + '</a></li>');
        }
    </script>

    <script>
        function searchBars() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("barSearchInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("barsList");
            li = ul.getElementsByTagName("li");
        
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
        </script>
    

</body>


</html>